section {
  div {
    &.hero-jobs {
      background-image: url('../../../img/telescope.svg');
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;
    }
  }
}
